{
  "presets": [["latest", {
      "es2015": {
        "modules": false
      }
    }]],
  "plugins": ["transform-vue-jsx",["babel-plugin-component", {
      "libraryName": "wdui",
    }]],
  "comments": false
}
